.container-fluid{
	width:100%;
	padding-right:15px;
	padding-left:15px;
	margin-right:auto;
	margin-left:auto;
}

#header {
  padding: 10px 0;
  height: 50px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
}

#header.header-scrolled {
  background: rgba(0, 0, 0, 0.9);
  background: #bd3504;
  padding: 10px 0;
  height: 50px;
  transition: all 0.5s;
}

#header #logo {
  float: left;
  margin-left: 30px;
}

#header #logo h1 {
  font-size: 34px;
  margin: 6;
  padding: 0;
  line-height: 1;
  font-family: "Eras ITC", "Eras Bold ITC",  sans-serif ;
  font-weight: 700;
  letter-spacing: 0px;
  text-decoration: none;
}

#header #logo h1 a,
#header #logo h1 a:hover {
  color: #fff;
  padding-left: 10px;
  text-decoration: none;
}



#nav-menu-container {
  float: right;
  margin: 5px;
}

#header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /*overflow: hidden;*/s
}


#header li {
  float: left;
  margin: 20px;
  margin-top: 6px;
}

#header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 0px;
  text-decoration: none;
  /*padding: 0 8px 10px 8px;*/
  text-decoration: none;
  font-family: "Eras ITC", "Eras Bold ITC",  sans-serif ;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  outline: none;
}

#header li a:hover {
  background-color: none;
  color: #f9be20;
}

/* Dropdown Button */
.dropbtn {
 display: block;
  color: white;
  text-align: center;
  padding: 0px;
  text-decoration: none;
  /*padding: 0 8px 10px 8px;*/
  text-decoration: none;
  font-family: "Eras ITC", "Eras Bold ITC",  sans-serif ;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  outline: none;
  background-color: #bd3504;
  border: none;
  cursor: pointer;
}


.dropbtn:hover {
	background-color: #bd3504;
	color: #f9be20;
}


.dropdown1 {
    float: left;
    position: relative;
}

.dropdown1 .dropbtn1 {
    display: block;
  color: white;
  text-align: center;
  padding: 0px;
  text-decoration: none;
  /*padding: 0 8px 10px 8px;*/
  text-decoration: none;
  font-family: "Eras ITC", "Eras Bold ITC",  sans-serif ;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  outline: none;
  background-color: #bd3504;
  border: none;
  cursor: pointer;
}

.navbar a:hover, .dropdown1:hover .dropbtn1 {
    background-color: #bd3504;
	color: #f9be20;
}

.dropdown-one {
  cursor: pointer;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-two {
  cursor: pointer;
  display: none;
  position: absolute;
  left: 160px;
  top: 0px;
  min-width: 160px;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown1:hover .dropdown-one, #link1:hover > .dropdown-two {
  display: block;
}

.dropdown-one .dItem {
    display: block;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  /*padding: 0 8px 10px 8px;*/
  text-decoration: none;
  font-family: "Eras ITC", "Eras Bold ITC",  sans-serif ;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  outline: none;
  background-color: #bd3504;
  cursor: pointer;
}

.dropdown-one .dItem:hover, .dropdown-two a:hover {
    background-color: #bd3504;
	color: #f9be20;
}

/*
 * Banner 
 */
 
#image {
	/*background-image: url('img/start.jpg');
	background-size: contain;
	height: 400px;*/
	background: url("../img/start.jpg") center top no-repeat fixed;
	opacity: 1;
	background-size: cover;
	height: 280px;
}
 
.banner {
	position: relative;
	/*background: black;*/
	padding-top: 200px;
	padding-bottom: 200px;
	margin-left: -10px;
	margin-right: -10px;
	text-align: center;
}
.container {
  margin-right: auto;
  margin-left: auto;
}

.banner h2 {
	margin-top: -80;
	margin-bottom: 0;
	font-size: 38px;
	line-height: 35px;
	color: #eee;
	font-weight: 800;
	text-transform: capitalize;
}
.banner h3 {
	margin-top: 20px;
	margin-bottom: 25px;
	font-size: 30px;
	line-height: 25px;
	color: #ddd;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 0.055em;
}

.banner .btn {
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  /*padding: 0 8px 10px 8px;*/
  text-decoration: none;
  font-family: "Eras ITC", "Eras Bold ITC",  sans-serif ;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  outline: none;
  background-color: #bd3504;
  cursor: pointer;
  padding: 5px 5px 5px 5px;
}
.banner .btn:hover{
	color: #f9be20;
}



/*
 * default heading
 */

.default-heading {
	margin-bottom: 30px;
	text-align: center; 
}
.default-heading h2 {
	margin-top: 0;
	margin-bottom: 20px;
	font-size: 32px; 
	
  padding: 0;
  line-height: 1;
  
  font-weight: 700;
  text-decoration: none;
}
.default-heading p {
	font-size: 14px;
	line-height: 26px;
	text-transform: capitalize;
	letter-spacing: 0.055em;
}

/*
 * works
 */
 
.works {
	padding-top: 120px;
	padding-bottom: 30px;
}

.works .work-item {
	max-width: 360px;
	margin: 0 auto;
	margin-top: 30px;
	text-align: center;
}
.works .work-item h3 {
	font-size: 25px;
  margin: 6;
  padding: 0;
  line-height: 1;
  font-family: "Eras ITC", "Eras Bold ITC",  sans-serif ;
  font-weight: 500;
  letter-spacing: 0px;
  text-decoration: none;
}
.works .work-item h3 a{
	text-decoration: none;
}

.works .work-item .org {
	display: block;
	font-size: 20px;
	text-transform: capitalize;
}

.row{
	margin-left:-15px;
	margin-right:-15px
}


.col-md-3{
	
	float: left;
	position:relative;
	min-height:1px;
	padding-left:60px;
	padding-right:15px;
	box-sizing: border-box;
    display: block;
	
	font-family: 'Open Sans', Sans Serif;
    font-weight: 400;
    color: #545454;
    -webkit-font-smoothing: antialiased;
}

.columns {
	column-count: 3;
	 column-gap: 40px;
	 column-rule-style: solid;
	 column-rule-width: 50px;
	 column-rule-color: #bd3504;
	 column-rule: 5px solid #bd3504;
	 column-width: 50px;
}
.columns p{
	column-span: one;
}
